# basic output files
*.o
*.exe
*.mp4
gmon.out
prof.txt
singlerun

# data
data/run/**
data/coll/*.tsv
data/prof/**/*.dat
!data/prof/**/prof.txt
data/collision_objs.tsv
!data/coll/demo/**
data/geno_sweep/
data/geno_selected/**/*.dat

# ?? idk
*.gch
**/*.gch

# python cache
*.pyc
**/*.pyc
__pycache__/**
**/__pycache__/**
pyutil/__pycache__